body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f4f4f4;
}
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}
.produk-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}
.produk-card > img {
    
}